*{
  margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-family: "Arial";
  }
  
  /* Nav Bar and Head Elements */
  .navbar {
    background-color: rgb(228, 230, 231);
    padding: 30px;
    padding-right: 25px;
  }
  
  .navbar .logo {
    float: left;
    margin-left: 60px;
  }
  
  /* Nav Elements */
  .navelements {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar .navelements ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .navbar .navelements ul li {
    margin-right: 30px;
    font-size: 23px;
  }
  
  .navbar .navelements ul li:last-child {
    margin-right: 0;
  }
  
  .navbar .navelements ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
  }
  
  /* changes color when cursor is hovered over navbar */
  .navbar .navelements ul li a:hover {
    color: rgb(4, 173, 4);
    transition-duration: 0.4s;
  }
  
  /* changes color of active page */
  .navbar .navelements ul li a.active {
    color: rgb(4, 173, 4);
  }
  
  /* Show the menu icon when the screen is less than 1200px */
  @media screen and (max-width: 1200px) {
    .menu-icon img {
      display: block;
    }
  
    .navelements nav ul {
      display: none;
      /* Hide the menu items by default on mobile */
    }
  
    /* Show the menu items in a dropdown when the menu icon is clicked */
    .navelements.show-menu nav ul {
      display: flex;
      flex-direction: column;
      background-color: rgb(228, 230, 231);
      position: absolute;
      top: 55px;
      right: 25px;
      z-index: 1;
    }
  
    .navelements.show-menu nav ul li {
      margin: 10px;
    }
  }
  
  .dropdown-menu {
    display: none;
  }
  
  /* Show the dropdown menu when the menu icon is clicked */
  .navelements.show-menu .dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 230, 231);
    position: absolute;
    top: 55px;
    right: 25px;
    z-index: 1;
  }
  
  /* Hide the menu-icon when the dropdown menu is shown */
  .navelements.show-menu .menu-icon {
    display: none;
  }



  /* Search Bar and Elements */
  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 1000px;
    /* Set a maximum width for the search bar container */
    margin-left: auto;
    margin-right: auto;
  }
  
  .searchbar .side-by-side {
    display: flex;
    align-items: center;
  }
  
  .searchbar img {
    width: 30px;
    height: 30px;
  }
  
  .searchbar form input[type="text"] {
    width: 600px;
    height: 40px;
    font-size: 18px;
    border-radius: 7px 0 0 7px;
    padding: 10px;
    border: none;
    background-color: rgb(228, 230, 231);
  }
  
  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 173, 4);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0 7px 7px 0;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .searchbar {
      flex-direction: column;
      align-items: center;
    }
  
    .searchbar .side-by-side {
      margin-bottom: 10px;
    }
  
    .searchbar form input[type="text"] {
      width: 90%;
      max-width: 100%;
      margin-left: 0;
      border-radius: 7px;
    }
  
    .search-wrapper {
      border-radius: 7px;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .searchbar img {
      width: 20px;
      height: 20px;
    }
  
    .searchbar form input[type="text"] {
      font-size: 16px;
      padding: 8px;
    }
  
    .search-wrapper {
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
/*main image of the shop page*/
.main-content{
    display: flex;
    margin-top:114px ;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top:60px;
}

.image img{
    width: 750px;
    height: 678px;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 8px;
}
.image{
    margin-right: 20px;
}
.details{
    color: #505050;
    margin-left: 20px;
    
}

.details h2{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}
.details h4{
    font-size: 21px;
    line-height: 40px;
    font-weight: 700;
    color: #838383;
    display: inline;
    padding-right: 20px;
}
.details h3{
    color:#FF7A7A;
    font-size: 36px;
    display: inline;
}
.rating{
    font-size: 24px;
    display: inline;
    padding:20px 0px;
}
.rating h5{
    display: inline;
    color: black;
    font-size: 16px;
}
.checked {
    color: #FFBA49;
}
.options{
    font-size: 20px;
    line-height: 20px;
}
.options .size button{
    background-color: #D9D9D9;
    width: 77px;
    height: 40px;
    border: none;
    margin-right:20px;
}
.button{
    background-color: #D9D9D9; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 0px 7px;
    margin: 30px 0px;
    cursor: pointer;
    border-radius: 50%;
}
.quantity span{
    padding: 0px 20px;
    color: black;
    font-size: 16px;
}
.quantity .cart{
    margin-left: 10px;
    background-color: #FF7A7A;
    border: none;
    color:#F8F8F8;
    font-size: 20px;
    line-height: 20px;
    width: 261px;
    height: 40px;
    border-radius: 8px;
}
.buy-now{
    background-color: #FF7A7A;
    border: none;
    color:#F8F8F8;
    font-size: 20px;
    line-height: 20px;
    width: 391px;
    height: 40px;
    border-radius: 8px;
}
.options h2{
    color: black;
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;
}
.other-option{
    display: flex;
}
.plant-options{
    padding-right: 20px;
    align-items: center;
}
.options h6{
    color: #505050;
    font-size: 16px;
    line-height: 24px;
}
.plant-options h6{
    margin: 0px;
}
.plant-options .next {
    display: inline-block;
    width: 30px; /* Set a fixed width for the element */
    height: 30px; /* Set a fixed height for the element */
    color: black;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 30px;
    font-size: 20px; /* Add a font-size to adjust the arrow size */
    text-decoration: none;
    border-radius: 50%;
}
.plant-options a{
    display: flex;
    margin-top: 70px;
}
.image-selector{
    display: flex;
    padding: 0 110px;
    justify-content: space-between;
}
.image-selector .next{
    color: black;
    background-color: #D9D9D9;
    padding: 15px;
    text-decoration: none;
    border-radius: 50%;  
}
.image-selector .left-side{
    display: flex;

}
.left-side a{
    margin-top: 25px;
    margin-bottom: 60px;
}
.image-selector .left-side img{
    width: 72px;
    height: 68px;
    padding: 15px 20px;
}
.image-selector .right-side h2{
    font-size: 16px;
    line-height: 16px;
}
.image-selector .right-side img{
    padding: 0 3px;
}
.image-container{
    display: flex;
    justify-content: center;
    padding: 0px 80px;
}
.indoor-collection h1{
    text-align: center;
    font-size: 36px;
    line-height: 64.8px;
    color: #505050;
}
.column-1,.column-2{
    margin:auto;
    padding: auto;
}
.column-1 img{
    padding: 16px 8px;
}
.user-review{
    background-color: #12344D;
    padding: 0 20px;
}
.user-review h1{
    font-size: 36px;
    line-height: 25px;
    text-align: center;
    padding:80px 0px;
    color: white;
}
.user-review .row{
    display:flex;
    gap: 80px;
    padding-bottom:60px ;
}
.user-review .row .col-1, .col-2, .col-3 {
    flex: 1;
    padding: 20px 40px;
    margin: 5px;
    background-color: white;
    text-align: center;
}

.box-2 {
    display: flex;
    margin-top: 60px;
}

.box-2 .box-2-content {
    display: flex;
    align-items: center;
}

.box-2 img {
    flex-basis: 20%;
}

.box-2 .box-2-info {
    flex-basis: 80%;
    text-align: left;
    padding-left: 20px;
}
.box-2-info h4{
    margin:5px;
}
.col-1, .col-2, .col-3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.user-review .row a{ 
    color: black;
    background-color: #D9D9D9;
    padding: 15px;
    text-decoration: none;
    border-radius: 50%;  
    margin-top: 50px;
    margin-bottom: 200px;
}

.col-1, .col-3{
    border-radius: 0px 50px 0px 50px;
}
.col-2{
    border-radius: 50px 8px 50px 8px;
}
.footer{
    background-color: #DCDCDC;
    height: 40px;
    width: 100%;
    text-align: center;
}
.footer h4{
    font-size: 14px;
    line-height: 25.2px;
    margin-top: 100px;
    padding-top: 10px;
    font-weight: 400;
}

